html {
  background-color: #f0f1f1;
}

body {
  margin: 0;
}

nav {
  position: absolute;
  right: 3em;
  padding: 1em;
  z-index: 30;
  background-color: #ffed8d;
  box-shadow: -16px 20px 0px #ccbb60;
  text-shadow: -6px 5px 0px #d2bf5a;
}

nav a {
  font-size: 3em;
  margin: 0 7px;
}

nav a:link,
nav a:visited {
  color: #36463a;
}

header {
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
}

main {
  padding: 0 0 5em;
  overflow: hidden;
}


.header-top {
  width: 100vw;
  height: 74vh;
  min-height: 32em;
  padding-top: 5em;
  background: 
    linear-gradient(rgba(0,0,0,0), rgb(240, 241, 241)),
    url('/img/fib2-gray.png');
  background-size: cover;
  background-position: bottom center;
  position: relative;
}

.header-top h1 {
  margin: 10vh 0 0 10%;
  padding: .5em;
  min-width: 5em;
  width: 50vw;
  max-width: 9em;
  font-size: 4em;
  font-style: italic;
  font-family: 'Playfair Display';
  color: #fff8be;
  text-shadow: 10px 6px 0px #074e47;
  z-index: 20;
  position: relative;
  background: #10755a;
  box-shadow: 20px 17px 0px #0b332d;
}

.header-top h2 {
  margin: 10% 1em 0 10vh;
  max-width: 75vw;
  text-align: right;
  font-size: 3em;
  font-style: italic;
}

.header-mid {
  min-height: 20em;
  margin: -7em 0 0 0;
  z-index: 30;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-mid h2 {
  margin: 2em 2.2em -0.5em 0;
  font-size: 6em;
  font-style: italic;
  font-weight: 100;
  color: #676767;
  text-shadow: -14px 7px 0px #e0e0e0;
}

.header-mid h3 {
  margin: 2em 20vw 0 auto;
  padding: 0.5em;
  width: 6em;
  font-family: 'Playfair Display';
  font-size: 3em;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  position: relative;
  background-color: #314428;
  color: #f7e5b8;
  box-shadow: -13px -17px 0px #496942;
}

.header-mid h3 span {
  text-shadow: -4px -5px 0px #0d2b1f;
}



.item {
  position: absolute;
  background-repeat: no-repeat;
}

.item-plant {
  width: 70em;
  height: 33em;
  background-image: url(/img/shade.png);
  top: 0;
  z-index: 10;
}

.item-column {
  width: 60em;
  height: 33em;
  background-image: url(/img/corinthian-column.png);
  bottom: 0em;
  right: -30em;
  z-index: -10;
}

.item-blossom {
  width: 10em;
  height: 6em;
  background-image: url(/img/blossom.png);
  bottom: -2em;
  right: -4em;
  z-index: -10;
  background-size: contain;
}

.item-goddess {
  width: 10em;
  height: 6em;
  background-image: url(/img/goddess.png);
  bottom: -2em;
  right: -4em;
  z-index: -10;
  background-size: contain;
}


.main-container {
  max-width: 90em;
  width: 75%;
  margin: 0 auto;
}

.main-container h4 {
  margin: 1em 0 0;
  font-family: 'Playfair Display';
  font-size: 4em;
  font-style: italic;
  color: #7b8cb3;
  text-shadow: 10px -5px 0px #d4ddf1;
  text-align: center;
}

/* .main-container h4:before {
  display: block;
  content: ' ';
  width: 4em;
  height: 4em;
  position: absolute;
  left: 1em;
  background-image: url(/img/palm.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
} */

.main-container p {
  margin: 2em 0 0;
  font-family: 'Lora';
  font-size: 1.3em;
  line-height: 2em;
  color: #383838;
}

.main-container .drop-cap::first-letter {
  font-size: 3em;
  margin: 0 .1em -0.1em 0;
  padding: 0.3em 0.2em;
  border: 4px solid #d4d4d4;
  background-image: url(/img/filigree.png);
  background-size: 100%;
  background-position: center;
  font-weight: 400;
  text-shadow: 3px 4px 0px #f1f1f1;
  color: #484848;
  box-shadow: inset 0px 0px 11px 0px #989898;
  float: left;
}

.article-text {
  margin: 0 auto;
  max-width: 55em;
}


.show-lg { display: none }



#projects {
  margin: 1em 0 0;
  display: flex;
  flex-wrap: wrap;
}

figure {
  min-width: 15em;
  margin: 0 auto;
  padding: 1em;
  flex: 5;
  flex-basis: 25em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

figure img {
  width: 20em;
  min-width: 20em;
  background-image: url(/img/framecircle2.png);
  background-size: 103% 103%;
  padding: 3em;
  background-position: center;
  background-repeat: no-repeat;
  height: 20em;
  border-radius: 50%;
  box-shadow: 0 9px 8px rgba(74, 74, 74, 0.41);
  text-align: center;
  object-fit: cover;
}

figure > div {
  position: relative;
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
}

figure > div:before {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  background-image: url(/img/laurel.png);
  background-size: contain;
  z-index: -1;
  background-repeat: no-repeat;
  right: 0;
  margin: auto;
  background-position: center;
}

figcaption {
  align-self: normal;
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 2.5em;
  text-shadow: 4px 9px 0px #dadada;
}

figure .links {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
figure .links span { margin-top: .5em }

figure .links .links-stack { 
  margin-left: auto;
  margin-bottom: auto;
  font-size: 2em;
}
figure .links .links-stack i { margin: 0 .15em }

#projects p {
  margin: 0 0 1em;
}




@media only screen and (min-width: 2000px) {
  header {
    flex-direction: row;
  }

  .header-top {
    width: 75vw;
    overflow: unset;
  }

  .header-mid {
    margin: 0;
    width: 30vw;
    background: linear-gradient(rgba(0,0,0,0), rgb(240, 241, 241));
  }

  .show-lg { display: block }
}

@media only screen and (max-width: 1024px) {
  .header-top {
    margin: 0 0 8em;
  }
}

@media only screen and (max-width: 425px) {
  .main-container h4 {
    font-size: 2.75em;
  }

  .main-container p {
    font-size: 1em;
  }
}